@charset "utf-8";
/* CSS Document */

*{margin:0px; padding:0px;}
body{width:1100px;font-family:Tahoma;font-size:12px; margin:auto; border:1px solid #333;}
/* Phần Top */
#main #top
{
	background:#333;	
	font-weight:bold;
	height:150px;
	
}
.form-horizontal{
	background-color:#FF3333;
}
.login_logout
{
	float:left;
	width:250px;
	height:30px;
	margin-left:780px;
	margin-top:5px;
	overflow: visible;
}
.login_logout ul{
	list-style-type:none;
	
}

.login_logout ul li{	
	display:inline;
	padding-right:10px;	
}

.login_logout ul a{		
	color:#003;
	text-decoration:none;
	line-height:30px;		
}

.login_logout ul a:hover
{
	color:#F3C;
}

.header 
{
	
	height:auto;
	line-height:0px;
	margin:auto;	
	background:url(../Images_pro/MenuTitle.jpg) ;
	color:#FFF;
	font-weight:bold;
	
	
}
   
.topmenu
{
	
	float:left;
	height:auto;
	background:#CCC;
	text-align:left;
} 
.logo
{
	clear:left;
	float:right;
	background:#FFF;
	width:1100px;
	height:auto;

		
}
.timkiem 
{

	padding:0px;
	width:815px;
	float:left;
	height:auto;
	
	
}
input[id='idtbtensach']{
height:20px;
width:320px;	
}
input[name='submit'] {
		height:25px;
        margin-left:-5px;
		background:url(../images_load/timkiem.png) no-repeat top center;
        }
input[name='nhanxet'] {
		height:20px;
        margin-left:-5px;
		background:url(../Images_pro/nx.png) no-repeat top center;
        }
input[name='login']{
	background:url(../Images_pro/login.jpg) no-repeat;
	}	
input[name='update']{
	margin:auto;
	height:30px;
	width:96px;
	background:url(../Images_pro/update_2.png) no-repeat;
	}	
input[name='thuchien']{
	background:url(../Images_pro/thanh_toan_2.jpg) no-repeat;
	}	
	.timkiem a
	{
		
		text-decoration:none;
	}
.left
{
	clear:right;
	float:left;
	width:200px;
	height:auto;
	margin-top:-2px;
	text-decoration:none;
	
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	
	
	
}
	div#nav ul li
	{
			list-style:none;
			height:25px;
			border-bottom:1px solid #666;
			background-color:#CCC;
			border-bottom:1px solid #333;
border-left:1px solid #333;		
 -moz-border-radius: 10px;
-webkit-border-radius: 10px;
			
	}
			div#nav ul li a
			{
					
					display:block;width:auto;padding:5px 0;padding-left:10px;line-height:20px;text-decoration:none;
			}
					
			
					div#nav ul li:hover ,.div#nav ul li a.selected
					{
							width:auto;
							height:20px;
							color:white!important;background-color:#99C;
							border-bottom:1px solid #c87332;
							border-right:1px solid #333;
							padding: 5px;
							text-shadow:#333;
							text-decoration:none;
					}
 /*<--------------------------------------------------------------------------------------------------------------->*/
							 div#mainNav {
										width: 198px; margin: 0px auto;
										border-right:1px solid #333;
										
										}
									div#mainNav hl {
									 padding: 0px;
									 font-size: 20px;color: white;text-align: left;
									 -moz-border-radius: 0px 0px 0px 0px;
									 
									
									}
									div#mainNav ul {
										list-style:none;
										background:#FFF;
									}
									div#mainNav ul li {
										position: relative;
										padding: 0px;
										}
									div#mainNav ul li a {
										color:#FFF; text-decoration: none;
										padding: 0px;
										}
									
									div#mainNav ul li a:hover {
										
										width:98%;
										padding:0px;
										text-decoration: none;
										
										}
									div#mainNav ul li ul {
										position: absolute;
										top: -1px;
										left: 199px;
										display: none;
										text-decoration:none;
										border-right:1px solid #333;
										}
									div#mainNav ul li:hover ul {
										display:block;
										width:100%;
										
										}
	 /*<---------------------------------------------------------------------------------------------------------------------->*/						
							
.info
{
	float:left ;
	margin-top:0px;
	width:658px;
	height:auto;
	background:#FFF;
	padding:2px;
	
}
.right 
{
	float:right;
	margin-top:0px;
	width:236px;
	height:auto;
	background:#FFF;
	
	
}
.footer
{
	clear:left;
	height:50px;
	line-height:50px;
	background:#ccc;
	color:#fff;
	font-weight:bold;
	text-align:center;
	border-bottom:1px solid #333;
}
.div1 {-moz-border-radius:0px; -webkit-border-radius: 0px; border: 1px solid #CCCCCC; 
 background:#CCCCCC; width:500px;  background-color:#fbf4e9; margin:auto;}

/*<------------------------------>*/
#menu1 td{background:#FFC}
#menu1 td:hover{background:#6F6}
#menu1 a{font-size:19px; color:#0C0; font-weight:bold}

#menu2{width:100%;  background:#3F0}
#menu2 div{background:#3F9; font-size:large}
#menu2 div:hover{background:#FC6; font-size:large}

#content div.product{width:600px; height:180px; background:#FFC; margin:20px; float:left; border-bottom:groove; border-right:groove;}


#content .img {
	-webkit-transition: 0.5s;
}
#content .img:hover {
	-webkit-transform: scale(2.5,2.5) rotate(360deg);
	-webkit-transition-duration:5s	
}

.pagination {width:600px;}
.pagination ul{list-style-type:none;}
.pagination ul li{float:left;padding-top:50px; margin:5px;}
.pagination a {color:#000;border:0px solid #000;padding:1px 5px}
.pagination a:hover, div.pagination a:active {color:#f00;border:1px solid #ff0 }
.pagination li.current a{color:#f00}
.menuphai{height:150px; background:#FFa; margin:2px; border-bottom:groove}
.content{width:650px;}

.item{float:left;width:320px;height:210px;padding-top:10px;}
.item .tuasach{color:#00F;font-size:16px;text-align:left; padding:15px; height:40px;}
.item .hinhanh{float:left;width:100px;}
.item .info{float:left;width:190px;padding-left:10px;}

.item1{float:left;width:160px;height:300px;padding-top:10px;}
.item1 .tuasach1{color:#00F;font-size:16px;text-align:left; padding:5px; height:60px;}
.item1 .hinhanh1{float:left;width:100px;}
.item1 .info1{float:left;width:140px;padding-left:1px;}

.item2{float:left;width:100px;height:130px;padding-top:10px;}
.item2 .hinhanh1{float:left;width:60px;}

.item3{float:left;width:600px;height:180px;padding-top:15px;}
.item3 .tuade3{color:#00F;font-size:16px;text-align:left; padding:15px; height:auto;}
.item3 .hinhanh3{float:left;width:170px;}
.item3 .info3{float:left;width:400px;padding-left:10px;}

.item4{float:left;width:600px;height:180px;padding-top:15px;}
.item4 .tuade4{color:#00F;font-size:16px;text-align:left; padding:15px; height:auto;}
.item4 .hinhanh4{float:left;width:170px;}
.item4 .info4{float:left;width:400px;padding-left:10px;}
 
.item5{float:left;width:650px;height:auto;padding-top:10px;}
.item5 .hinhanh5{float:left;width:200px; height:350px; margin:30px;}
.item5 .tieude5{color:#00F;font-size:16px;text-align:left; padding:15px; height:auto;}
.item5 .info5{width:640px;padding-left:10px; float:none;}

.item6{float:left width:640px; height:auto; margin-left:15px; margin-right:15px; margin-top:20px;}

.item7{float:left;width:640px;height:auto;padding-top:10px; border-bottom:1px solid #333; margin:5px;}
.item7 .tieude7{color:#00F;font-size:16px;text-align:left; padding:15px; height:40px;}
.item7 .hinhanh7{float:left;width:200px; margin:10px;}
.item7 .info7{float:left;width:400px;padding-left:0px;}

.sachngaunhien{float:left; width:129px; height:180px; padding-top:20px;}
.sachngaunhien.hinhngaunhien{float:right;width:115px; margin-left:5px;}

.loto{float:left; width:140px; height:250px; padding-top:10px; padding-left:20px; }
.loto.hinhloto{float:left;width:130px; margin:20px;}
.loto.tieude{color:#00F;font-size:16px;text-align:left; padding:15px; height:50px;}


.ctloto{float:left;width:655px;height:auto;padding-top:10px;}
.ctloto .cthinhloto{float:left;width:150px; margin-left:30px;}
.ctloto .cttieude{width:400px;color:#00F;font-size:16px;text-align:left; height:40px; float:left; margin-left:70px;}
.ctloto .ctmota{width:400px; height:auto; float:left; margin-left:70px;}
.ctloto .cttacgia{width:400px; height:auto; float:left; margin-left:70px;}
.ctloto .ctgia{width:400px; height:auto; float:left; margin-left:70px;}
.ctloto .cttomtat{float:left;color:#333;font-size:16px;text-align:left; margin:10px;}
.ctloto .cthinhloto_big{float:left;width:380px; margin-left:150px;}

.dochoicungloai{float:left;width:160px;height:180px;padding-top:10px;}
.item1 .hinhanh{float:left;width:100px;}
.dochoicungloai.tieude{color:#00F;font-size:16px;text-align:left; padding:5px; height:60px;}
.item1 .noidung{float:left;width:140px;padding-left:1px;}

table_giohang{width:500p; float:left;}

.content_2{width:1100px;}
.sachtop{float:left; width:100px; height:140px; margin:10px;}
.sachtop.hinhsachtop{float:right;width:100px; margin:5px;}